* {
    font-family: 'Roboto', sans-serif;
}

#tagline h1 {
    line-height: 1.4em;
    font-weight: 300;
}

.header-logo {
    height: 2em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
}

.navbar-brand {
    padding: 7px 15px !important;
}

.ied-logo {
    height: 27em;
}

.thumbnail div.img-bg {
    text-align: center;
    width: 100%;
}

.thumbnail div.img-bg.img-hybrid-ionic {
    background-color: #dcdac8;
}

.thumbnail div.img-bg.img-wordpress {
    background-color: #464646;
}

.thumbnail div.img-bg.img-codeigniter {
    background-color: #880e4f;
}

.thumbnail div.img-bg.img-html5 {
    background-color: #5a7076;
}

.thumbnail div.img-bg img {
    max-width: 100%;
}

.hero-logo {
    height: 22em;
}

#services,
#portfolio,
#contact {
    margin-top: 5em;
    margin-bottom: 5em;
}

#services h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 2em;
}
